.image {
  display: inline-block;
}

.hover-image {
  transition: transform 0.3s ease-in-out;
}

.image:hover .hover-image {
  transform: scale(1.2);
  filter: brightness(0.8);
}

.line {
  height: 80vh;
  width: 5px;
  background-color: #ffc107;
  box-shadow: 0 0 15px 5px #ffc107;
  margin-top: 20px;
}
